.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.flex {
  display: flex;
}

.flex.centering {
  align-items: center;
  justify-content: center;
}

.flex.vertical {
  flex-direction: column;
}

.material-icons {
  font-size: 1em;
}

.button > span {
  display: flex;
  justify-content: center;
  align-items: center;
}
