@import "~bulma/sass/utilities/_all";

@import "variables.scss";

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black,
    ),
    "black": (
      $black,
      $white,
    ),
    "light": (
      $light,
      $light-invert,
    ),
    "dark": (
      $dark,
      $dark-invert,
    ),
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    "link": (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    "info": (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    "success": (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    "warning": (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    "danger": (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

* {
  outline: none;
}

.full-view {
  height: 100vh;
  width: 100vw;
}

.full-y-view {
  height: 100vh;
}

.full-x-view {
  width: 100vw;
}

.full {
  height: 100%;
  width: 100%;
}

.full-y {
  height: 100%;
}

.full-x {
  width: 100%;
}

.abs {
  position: absolute !important;
}

.rel {
  position: relative !important;
}

.fixed {
  position: fixed !important;
}

.sticky {
  position: sticky !important;
}

.flex {
  display: flex !important;
}

.grid {
  display: grid !important;
}

.flex.centering {
  align-items: center;
  justify-content: center;
}

.flex.vertical {
  flex-direction: column;
}

html h1.big {
  font-size: 2rem;
  font-weight: 900;
}

html h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

html h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

html h3 {
  font-weight: 700;
}

.thin {
  font-weight: 100 !important;
}

.light {
  font-weight: 300 !important;
}

.bold {
  font-weight: 700 !important;
}

.black {
  font-weight: 900 !important;
}

.material-icons {
  font-size: inherit;
}

.button > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control.square > input,
.square {
  border-radius: 0 !important;
}

.column.dropdown .dropdown-menu {
  left: 0.75rem;
  top: calc(100% - 0.75rem);
}

html hr {
  background-color: rgba($black, 0.2);
  height: 1px;
}

@import "~bulma";
@import "~buefy/src/scss/buefy";
